@import '_theme-utils';
@import 'helpers/_helpers';
@import 'overrides/_overrides';

$purple: rgba(168, 47, 212, 0.27);
body {
  background: map-get($palette, dark, background, neutral);
  color: map-get($palette, dark, text, primary);
}