button.root {
  border: 0;
  border-radius: 0.75rem;
  cursor: pointer;
  backdrop-filter: blur(0.5rem);
}

.button-primary {
  background: var(--button-primary-background);
  color: var(--button-primary-text);
  &:hover {
    background: var(--button-primary-hover);
  }
}

.button-secondary {
}

.button-tertiary {
  background: var(--button-tertiary-background);
  color: var(--button-tertiary-text);
}

.button-link {
  background: transparent;
  color: map-get($palette, dark, text, primary);
  &:hover {
    color: map-get($BLUE, 500);
  }
}

.button-small {
  padding: 0.5rem 1rem;
}

.button-medium {
  padding: 0.75rem 2rem;
}

.button-large {
  padding: 1rem 3rem;
}
