.root {
  gap: 10px;
}

.typography--h1 {
  font-size: 4rem;
  line-height: 4.8rem;
}

.typography--h2 {
  font-size: 3rem;
  line-height: 3.6rem;
}

.typography--h3 {
  font-size: 2rem;
  line-height: 2.4rem;
}

.typography--h4 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.typography--h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.typography--h6 {
  font-size: 1rem;
  line-height: 1.2rem;
}

.typography--body {
  font-size: 1rem;
  line-height: 1.5rem;
}

.typography--caption {
  font-size: 0.75rem;
  line-height: 1rem;
}

.typography--regular {
  font-weight: 400;
}

.typography--medium {
  font-weight: 500;
}

.typography--bold {
  font-weight: 700;
}
